@import url(https://fonts.googleapis.com/css?family=Francois+One);

body {
	background-color: #D6EBE9;
	font-family: 'Francois One', sans-serif;
	padding: 30px;
	color: #40403F;
	
}

.container1 {
	text-align: center;

}

.chartContainer {
	width:50%;
	margin: 0 auto;
}

.chart {
	height:30%;
	width: 30%;
	padding: 10px;
	border-radius: 35px;
}

.chart:hover {
	cursor: pointer;
}

.chartModal {
	width:70%;
	margin: 0 auto;
	padding: 50px;
}

.chartModal img {
	padding-bottom: 50px;
}

.menu {
	width: 50%;
	margin: 0 auto;
}

#entry {
	margin: 15px;
}

#entry:hover {
	background-color: #0E3757;
  	color: #ffffff;

}

.ajax1 {
	border-style: solid;
	border-color: #0E3757;
	width:100%;
	height: 75%;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 30px;

}

#pic {
	padding-top: 10px;
}

#pic img {
	border-radius: 4px;

}

.side {
	width: 60%;
	float: right;
	
}

.contentSplash {
	width: 40%;
	float: left;
	margin-top: 10px;
}

.logo img {
	width:25%;
	float:left;
	margin-top: -20px;
	margin-left: -7px;
}