@import url(https://fonts.googleapis.com/css?family=Francois+One);

body {
	background-color: #030607;
	font-family: 'Francois One', sans-serif;
	color: #40403F;
}

#video {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(public/img/misc/elias-landing.jpg) no-repeat;*/
    background-size: cover;
    background-color: black;
}
.pano {
	background-image: url("/images/pano2.png");
	background-size: cover;
	height:75%;
	opacity: .4;
	margin-top: -100px;
	margin-bottom: 20px;
}

.logo-container {
	width: 90%;
	margin: 0 auto;
	height: 400px;
	background-repeat: no-repeat;
}

.logo-main {
	background-image: url("/images/logo4.png");
	opacity: .8;
	height: 350px;
	width: 80%;
	margin: 0 auto;
	margin-top: 120px;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 400px;
}

.container1 {
	text-align: center;
}

.header {
	color:white;
	padding: 50px;
}

.chartContainer {
	width:50%;
	margin: 0 auto;
	margin-right: 25px;
}
.charts-container {
	width: 80%;
	position: relative;
	color: black;
	text-align: center;
	margin: 0 auto;
}

/*
.ui.dimmer{
    background: rgba(100, 100, 0, 0.85) !important;
}*/

.charts-container img {
	text-align: center;

}

.chart {
	height:40%;
	width: 40%;
	padding: 10px;
	border-radius: 30px;
}

.chart:hover {
	cursor: pointer;
}

.chartModal {
	width:70%;
	margin: 0 auto;
	padding: 50px;
	color:rgb(255,255,255);
	font-family: 'Francois One', sans-serif;
	
}

.chartModal img {
	padding-bottom: 50px;
}

.menu {
	width: 50%;
	margin: 0 auto;
}

#entry {
	margin: 15px;
}

#entry:hover {
	background-color: #0E3757;
  	color: #ffffff;
}

.ajax1 {
	border-style: solid;
	background-color: rgba(255,255,255,1);
	border-color: #2185d0;
	width:100%;
	height: 75%;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 30px;
	margin-left: 20px;

}

#pic {
	padding-top: 10px;
}

#pic img {
	border-radius: 4px;

}

.side {
	width: 60%;
	float: right;
	margin-right: -50px;
	margin-top: 8px;
}

.side2 {
	width: 50%;
	float: right;
	margin-top: 8px;
	color: white;
}

.spotOverview {
	width:40%;
	height:300px;
	overflow-x: scroll;
	margin-bottom: 35px;
	margin-top: 580px;
	margin-left: 20px;
	border-style: solid;
	background-color: rgba(255,255,255,1);
	border-color: #2185d0;
}

.overviewText {
	width:80%;
	margin: 0 auto;
	padding-top: 10px;
}

.imagesShow {
	/*background-color: purple;*/
	width:100%;
	height:300px;
	padding-right:30px;
	padding-top: 65px;
	margin: 0 auto;
	color: white;
}

.imagesShow img {
	max-width:100%;
	max-height:100%;
}


.contentSplash {
	width: 40%;
	float: left;
	margin-top: 10px;
}

.logo img {
	width:25%;
	float:left;
	margin-top: -22px;
	margin-left: -7px;
	padding-bottom: 7px;
}

.iframe {
	width:10%;
}

.comments {
	width:40%;
	height:300px;
	overflow-x: scroll;
	margin-bottom: 35px;
	float:left;
	margin-left: 20px;
	border-style: solid;
	border-width: 3px;
	background-color: rgba(255,255,255,1);
	border-color: #2185d0;
	color:#2185d0;
}

.comments-text {
	padding:25px;
	color:#2185d0;
}

.comments-text h3 {
	color:black;
}