@import url(https://fonts.googleapis.com/css?family=Francois+One);

body {
	background-color: #FFEFEC;
	font-family: 'Francois One', sans-serif;
	padding: 30px;
	
}

.container1 {
	text-align: center;

}

.chartContainer {
	width:50%;
	margin: 0 auto;
}

.chart {
	height:60%;
	width: 60%;

}

.menu {
	width: 50%;
	margin: 0 auto;
}

#entry {
	margin: 15px;
}

#entry:hover {
	background-color: #0E3757;
  	color: #ffffff;

}

.ajax1 {
	border-style: solid;
	border-color: #0E3757;
	width:50%;
	margin: 0 auto;
	padding: 10px;

}
